/dist
/host
/libs/build
/libs/download
/wasm
/tools/fortran.mk
/tools/dragonegg/build
/tools/dragonegg/emfc
/tools/flang/build*
/tools/flang/emfc
/tools/flang/*llvm-project
/R/download
/R/build
/src/examples/serve.R
/src/coverage
/src/webR/config.[jt]s
/src/dist
/src/*webr-*.tgz
/packages/**/*.so
/packages/**/*.o
node_modules
.DS_Store
.vscode
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
.Rproj.user
.Renviron
*.Rcheck

/.luarc.json
/.clangd
