.plot {
  display: grid;
  grid-template-rows: auto 1fr;
}

.plot-container {
  background-color: var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 0;
  min-width: 0;
}

.plot-container canvas {
  max-width: 90%;
  max-height: 90%;
  aspect-ratio: 1 / 1;
  background-color: white;
}

.plot-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--bg-dark);
  background-color: var(--bg-primary);
}

.plot-actions > button {
  background-color: transparent;
  border: none;
  color: var(--secondary);
  padding: 5px;
}

.plot-actions > button:hover {
  color: var(--primary);
}
