body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}

:root {
  --bg-primary: #FFF;
  --bg-secondary: #EEE;
  --bg-dark: #AAA;
  --primary: #111;
  --secondary: #777;
  --disabled: #AAA;
}

.repl {
  width: 100vw;
  height: 100vh; /* Fallback for dvh */
  height: 100dvh;
}

div[data-panel] {
  display: flex;
  flex-direction: column;
}

div[data-resize-handle] {
  padding: 2px;
  background-color: var(--bg-secondary);
}

.d-none + div[data-resize-handle], div[hidden] {
  display: none !important;
}
