name: Build and test webR

on:
  pull_request:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/r-wasm/webr-flang:main
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          registry-url: 'https://registry.npmjs.org'
      - uses: actions/checkout@v3
      - name: Configure webR for flang
        run: ./configure
      - name: Copy flang into webR tree
        run: |
          cp -r /opt/flang/wasm .
          cp -r /opt/flang/host .
          cp /opt/flang/emfc ./host/bin/emfc
      - name: Setup Emscripten PATH
        run: echo "/opt/emsdk:/opt/emsdk/upstream/emscripten" >> $GITHUB_PATH
      - name: Set Emscripten EM_NODE_JS
        run: echo "EM_NODE_JS=$(which node)" >> $GITHUB_ENV
      - name: Build webR
        env:
          EMSDK: /opt/emsdk
        run: make && make check-pr
        shell: bash
      - name: Report code coverage
        uses: codecov/codecov-action@v3
        with:
          files: src/coverage/lcov.info
          flags: unittests
          name: codecov-webr
          fail_ci_if_error: true
          verbose: true
          token: ${{ secrets.CC_TOKEN }}
