name: Build and test webR

on:
  pull_request:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  build-docker:
    runs-on: ubuntu-latest
    container: ghcr.io/r-wasm/flang-wasm:main
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'
      - uses: actions/checkout@v4
      - name: Configure webR for flang
        env:
          EMFC: /opt/flang/host/bin/flang-new
        run: ./configure
      - name: Setup Emscripten PATH
        run: echo "/opt/emsdk:/opt/emsdk/upstream/emscripten" >> $GITHUB_PATH
      - name: Set Emscripten EM_NODE_JS
        run: echo "EM_NODE_JS=$(which node)" >> $GITHUB_ENV
      - name: Build webR
        env:
          EMSDK: /opt/emsdk
        run: make && make check-pr
        shell: bash
      - name: Report code coverage
        uses: codecov/codecov-action@v4
        with:
          files: src/coverage/lcov.info
          flags: unittests
          name: codecov-webr
          fail_ci_if_error: true
          verbose: true
          token: ${{ secrets.CC_TOKEN }}
  build-nix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: "sandbox = false"
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Build Nix package
        run: nix build --print-build-logs
